<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwipePageMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37CB3A121EB3126D00F252F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CB3A291EB3126E00F252F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37CB3A341EB3126E00F252F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
